<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Birdy In The Cloud</title>
    <meta name="description" content="Hello, World! • A-Frame">
    <script src="../assets/scripts/dist/md5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../assets/scripts/dist/wtf_wikipedia.min.js"></script>

    <script src="../assets/scripts/dist/aframe.min.js"></script>
    <script src="../assets/scripts/dist/aframe-bmfont-text-component.min.js"></script>
    <script src="../assets/scripts/dist/aframe-particle-system-component.min.js"></script>
    <script src="https://rawgit.com/ngokevin/aframe-layout-component/master/dist/aframe-layout-component.min.js"></script>
    <script src="../assets/scripts/clicking.js"></script>
    <script src="../assets/scripts/wikiHelper.js"></script>
    <script src="../assets/scripts/main.js"></script>

</head>

<body>
    <!--TODO: Take a look at making fog "roll-in" maybe animation? -->
    <a-scene>

        <!--The user's "body" this allows us to place objects in a 3d sphere around the user and maintain their presence"-->
        <a-entity id="user.body" wasd-controls>
            <!--Buttons centered around the user
                Might currently placed in static location, consider 
                placing them dynamically when a user looks down-->

            <a-entity id="user.buttons">
                <!--
                <a-entity id="user.button.centerButton" position = "-0.02 0.05 2.03">
                  <a-plane memekingprime id="user.button.centerButton.model" class="clickable" color="tomato" height="1" width="3" rotation="-45 180 0">
                      <a-entity position="-0.5 0 0.01" bmfont-text="text: Hello world \n this hsould be a new line"></a-entity>
                  </a-plane>
                </a-entity>
                !-->
            </a-entity>

            <!--The user's camera
        Handle UI Components and shit in here -->
            <a-entity id="user.camera" camerasensor camera="userHeight: 1.6" look-controls>

                <!--TODO: Make the selection animation not shit -->
                <a-entity id="user.reticle">
                    <a-entity raycaster="objects: .clickable" cursor="fuse: true; fuseTimeout: 1000;" visible="false" scale="0.01 0.01 0.01"
                        position="0 0 -1" geometry="primitive: ring" material="color: black; shader: flat">

                        <a-animation begin="cursor-fusing" easing="ease-in" attribute="scale" fill="forwards" from="0.001 0.001 0.001" to="0.01 0.01 0.01"
                            dur="1000"></a-animation>

                        <a-animation begin="cursor-fusing" easing="ease-in" attribute="visible" from="false" to="true" dur="1000"></a-animation>

                        <a-animation begin="click" easing="ease-in" attribute="visible" from="true" to="false" dur="1000"></a-animation>
                    </a-entity>

                    </a-ring>

                </a-entity>
            </a-entity>
        </a-entity>

        <a-entity id="dimension.start">
            <a-entity position="0 0 0" particle-system="preset: dust; particleCount: 250"></a-entity>

            <a-entity id="wikiData" layout="type: circle; radius: 10">
                <a-plane height="5" width="5" look-at="[camera]">
                    <a-entity position="-2.5 2 0.01" bmfont-text="text: Hello World hows it going haha whoo whoo haha shraPNEL"></a-entity>
                </a-plane>
                <a-plane height="5" width="5" look-at="[camera]">
                    <a-entity position="-0.5 0 0.01">
                        <a-bmfont-text text: "Hello World" > </a-bmfont-text>
                    </a-entity>
                </a-plane>
                <a-plane height="5" width="5" look-at="[camera]">
                    <a-entity position="-0.5 0 0.01" bmfont-text="text: Hello world"></a-entity>

                </a-plane>
                <a-plane height="5" width="5" look-at="[camera]">
                    <a-entity position="-0.5 0 0.01" bmfont-text="text: Hello world"></a-entity>
                </a-plane>
                <a-plane height="5" width="5" look-at="[camera]">
                    <a-entity position="-0.5 0 0.01" bmfont-text="text: Hello world"></a-entity>
                </a-plane>

            </a-entity>





            <a-sky color="#001848" material="color:#ECECEC;shader:flat" geometry="primitive:sphere;radius:5000;segmentsWidth:64;segmentsHeight:20"
                scale="-1 1 1"></a-sky>

        </a-entity>
    </a-scene>
</body>


</html>